body {
    position: absolute;
    min-height: 100vh;
}

.image-gallery-container {
    max-width: 800px;
}

.image-container {
    border: 1px solid #e9ecef;
    background-color: #f8f9fa;
    margin-bottom: 20px;
    border-radius: 10px;
    /* height: 350px;
    width: 400px; */
}

.image-container img {
    border-radius: 10px;
    cursor: pointer;
}

#image-gallery {
    position: relative;
    margin-top: 5%;
    margin-left: 4%;
}

#footer {
    width: 98.5vw;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: 5% auto;
    max-width: 90%;
    max-height: 90%;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.modal-close:hover {
    transform: scale(1.2);
}

.modal-image {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}